* {
  box-sizing: border-box;
}

body {
  background-color: #d9f5ee;
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
